<div class="minicart-content cart-dropdown">
  <div class="ajax-loader"></div>
	<div class="header-cart-title">
		<h3>{{ 'cart.general.title' | t }}</h3>
	</div>
	<div class="minicart-dropdown-wrapper">
		{% if cart.item_count > 0 %}
      <div class="minicart-items-wrapper">
        <ol id="mini-cart" class="minicart-items">
          {% for item in cart.items %}
            <li class="product-item">
              <div class="product">
                <a href="{{ item.url | within: collections.all }}" class="product-item-photo">
                  <img src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}">
                </a>
                <div class="product-item-details">
                  <div class="product-item-name">
                    <a href="{{ item.url }}">
                      {{ item.product.title }}
                    </a>
                  </div>

                  {% unless item.variant.title contains 'Default' %}
                    {% if item.product.options.size > 0 %}
                      <dl class="product-item-options">
                          {% for option in item.product.options %}
                            <dt class="label">{{ option }}</dt>
                            <dd class="values">{{ item.variant.options[forloop.index0] }}</dd>
                          {% endfor %}
                      </dl>
                    {% endif %}
                  {% endunless %}
                  
                  <div class="price">
                    <strong>{{ item.price | money }}</strong>
                  </div>
                  <div class="details-qty">
                    <input type="number" class="item-qty" data-cart-item="{{ item.id }}" data-item-qty="{{ item.quantity }}" value="{{ item.quantity }}">
                    <button class="update-cart-item" data-cart-item="{{ item.id }}" title="{{ 'cart.minicart.update' | t }}">
                        <span>{{ 'cart.minicart.update' | t }}</span>
                    </button>
                    <a href="#" class="action delete" data-cart-item="{{ item.id }}" title="{{ 'cart.minicart.remove' | t }}">
                      <span>{{ 'cart.minicart.remove' | t }}</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ol>
      </div>

			<div class="summary">
				<div class="subtotal">
          <span class="subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
          <span class="subtotal-price">{{ cart.total_price | money }}</span>
				</div>
			</div>
			
			<div class="actions">
				<div class="viewcart">
						<a href="/cart" class="btn">{{ 'cart.general.view_and_edit_cart' | t }}</a>
				</div>
				<div class="checkout">
					<a href="/checkout" class="btn btn--secondary">{{ 'cart.general.go_to_checkout' | t }}</a>
				</div>
			</div>
		
		{% else %}
			
			<p class="empty">{{ 'cart.general.empty' | t }}</p>
			
		{% endif %}
	</div>
</div>