{%- assign social_icons = false -%}

{%- if
  settings.social_twitter_link != blank
	or settings.social_facebook_link != blank
	or settings.social_pinterest_link != blank
	or settings.social_instagram_link != blank
	or settings.social_tumblr_link != blank
	or settings.social_snapchat_link != blank
	or settings.social_linkedin_link != blank
	or settings.social_youtube_link != blank
	or settings.social_vimeo_link != blank
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

<div class="{{ block.type }}-wrapper align-{{ block.settings.alignment }}">
  {% if block.settings.content != blank %}
    <div class="content">
      {{ block.settings.content }}
    </div>
  {% endif %}
  {% form 'customer', id: 'popup-newsletter' %}
    {%- if form.posted_successfully? -%}
      <p class="form-message form-message--success" tabindex="-1" data-form-status>
        {{ 'general.newsletter_form.confirmation' | t }}
      </p>
    {%- endif -%}
    <div class="input-group password__input-group">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
        name="contact[email]"
        id="Email"
        class="input-group__field newsletter__input input-large"
        value="{% if customer %}{{ customer.email }}{% endif %}"
        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
        autocorrect="off"
        autocapitalize="off" required>
      <span class="input-group__btn">
        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
      </span>
    </div>
  {% endform %}
  {% if block.settings.show_social and social_icons %}
    <div class="footer-socials-wrapper">
      <ul class="footer-socials">
        {% if settings.social_twitter_link != blank %}
          <li>
            <a href="{{ settings.social_twitter_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
              <i class="ti-twitter"></i>
            </a>
          </li>
        {% endif %}
        {% if settings.social_facebook_link != blank %}
          <li>
            <a href="{{ settings.social_facebook_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
              <i class="ti-facebook"></i>
            </a>
          </li>
        {% endif %}
        {% if settings.social_pinterest_link != blank %}
          <li>
            <a href="{{ settings.social_pinterest_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
              <i class="ti-pinterest"></i>
            </a>
          </li>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
          <li>
            <a href="{{ settings.social_instagram_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
              <i class="ti-instagram"></i>
            </a>
          </li>
        {% endif %}
        {% if settings.social_tumblr_link != blank %}
          <li>
            <a href="{{ settings.social_tumblr_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
              <i class="ti-tumblr"></i>
            </a>
          </li>
        {% endif %}
        {% if settings.social_linkedin_link != blank %}
          <li>
            <a href="{{ settings.social_linkedin_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Linkedin' }}">
              <i class="ti-linkedin"></i>
            </a>
          </li>
        {% endif %}
        {% if settings.social_snapchat_link != blank %}
          <li>
            <a href="{{ settings.social_snapchat_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
              {% include 'icon-snapchat' %}
            </a>
          </li>
        {% endif %}
        {% if settings.social_youtube_link != blank %}
          <li>
            <a href="{{ settings.social_youtube_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
              <i class="ti-youtube"></i>
            </a>
          </li>
        {% endif %}
        {% if settings.social_vimeo_link != blank %}
          <li>
            <a href="{{ settings.social_vimeo_link | escape }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
              <i class="ti-vimeo"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</div>