{% include 'gp-section-style' %}
<div data-section-id="{{ section.id }}" data-section-type="about-us-section" class="gp-section-wrapper {% unless section.settings.fullwidth %}not-fullwidth-section{% endunless %}">
  <div class="gp-about-us gp-section-inner">
    <div class="row">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'banner' %}
              <div class="col-md-{{ block.settings.columns }}" {{ block.shopify_attributes }}>
                <div class="block-{{ block.type }}-wrapper">
                  <div class="banner-item position-{{ forloop.index }} effect-{{ block.settings.hover_effect }}">
                    <div class="banner-item-img lazyload-parent">
                      {% if block.settings.image == blank %}
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      {% else %}
                        <img src="{{ 'blank.png' | asset_img_url: 'master' }}" data-src="{{ block.settings.image | img_url: 'master' }}" alt="" class="lazyload"/>
                      {% endif %}
                    </div>
                    {% if block.settings.content != blank %}
                      <div class="banner-content-wrapper position-{{ block.settings.content_position }}">
                        {% if block.settings.url != blank %}
                          <a href="{{ block.settings.url }}" class="banner-item-url"></a>
                        {% endif %}
                        {% assign style = '' %}
                        {% if block.settings.content_width != blank %}
                          {% assign style = style | append: 'width:' | append: block.settings.content_width | append: '; max-width:100%;' %}
                        {% else %}
                          {% assign style = style | append: 'width: auto;' %}
                        {% endif %}
                        {% if block.settings.content_position == 'custom' %}
                          {% if block.settings.content_position_custom_x_direction == 'left-to-right' %}
                            {% assign style = style | append: 'left:' | append: block.settings.content_position_custom_x | append: '%;' %}
                          {% else %}
                            {% assign style = style | append: 'right:' | append: block.settings.content_position_custom_x | append: '%;' %}
                          {% endif %}
                          {% if block.settings.content_position_custom_y_direction == 'top-to-bottom' %}
                            {% assign style = style | append: 'top:' | append: block.settings.content_position_custom_y | append: '%;' %}
                          {% else %}
                            {% assign style = style | append: 'bottom:' | append: block.settings.content_position_custom_y | append: '%;' %}
                          {% endif %}
                        {% endif %}
                        <div class="banner-content-inner text-align-{{ block.settings.text_alignment }}" style="{{ style }}">
                          {{ block.settings.content }}
                        </div>
                      </div>
                    {% endif %}
                    <style>
                      [data-section-id="{{ section.id }}"] .banner-item.position-{{ forloop.index }} .banner-content-inner *{
                        color: {{ block.settings.text_color }};
                      }
                      [data-section-id="{{ section.id }}"] .banner-item.position-{{ forloop.index }} .banner-content-inner a{
                        color: {{ block.settings.link_color }};
                      }
                      [data-section-id="{{ section.id }}"] .banner-item.position-{{ forloop.index }} .banner-content-inner a:hover{
                        color: {{ block.settings.link_hover_color }};
                      }
                    </style>
                    <style>
                      [data-section-id="{{ section.id }}"] .position-{{ forloop.index }}{
                        {% if block.settings.margin_top > 0 %}
                          margin-top: {{ block.settings.margin_top }}px;
                        {% endif %}
                        {% if block.settings.margin_bottom > 0 %}
                          margin-bottom: {{ block.settings.margin_bottom }}px;
                        {% endif %}
                      }
                      @media (max-width: 767px) {
                        [data-section-id="{{ section.id }}"] .position-{{ forloop.index }}{
                          {% if block.settings.margin_top > 20 %}
                            margin-top: 20px;
                          {% endif %}
                          {% if block.settings.margin_bottom > 20 %}
                            margin-bottom: 20px;
                          {% endif %}
                        }
                      }
                    </style>
                  </div>
                </div>
              </div>
            {% when 'text-column-with-image' %}
              <div class="col-md-{{ block.settings.columns }}" {{ block.shopify_attributes }}>
                <div class="block-{{ block.type }}-wrapper align-{{ block.settings.alignment }} image-align-{{ block.settings.image_alignment }} image-position-{{ block.settings.image_position }} position-{{ forloop.index }}">
                  {% if block.settings.image != blank %}
                    {% capture imageHtml %}
                      <div class="image-wrapper">
                        <img src="{{ block.settings.image | img_url: 'master' }}" alt="" />
                      </div>
                    {% endcapture %}
                  {% endif %}
                  {% if block.settings.image_position == 'top' or block.settings.image_position == 'left' %}
                    {{ imageHtml }}
                  {% endif %}
                  {% if block.settings.content != blank %}
                    <div class="content">
                      {{ block.settings.content }}
                    </div>
                  {% endif %}
                  {% if block.settings.image_position == 'bottom' or block.settings.image_position == 'right' %}
                    {{ imageHtml }}
                  {% endif %}
                </div>
              </div>
              <style>
                {% if block.settings.image_width != blank %}
                  [data-section-id="{{ section.id }}"] .block-{{ block.type }}-wrapper.position-{{ forloop.index }} .image-wrapper img{
                    width: {{ block.settings.image_width }};
                    height: auto;
                  }
                  [data-section-id="{{ section.id }}"] .block-{{ block.type }}-wrapper.position-{{ forloop.index }}.image-position-left .image-wrapper,
                  [data-section-id="{{ section.id }}"] .block-{{ block.type }}-wrapper.position-{{ forloop.index }}.image-position-right .image-wrapper{
                    width: {{ block.settings.image_width }};
                  }
                  [data-section-id="{{ section.id }}"] .block-{{ block.type }}-wrapper.position-{{ forloop.index }}.image-position-left .image-wrapper img,
                  [data-section-id="{{ section.id }}"] .block-{{ block.type }}-wrapper.position-{{ forloop.index }}.image-position-right .image-wrapper img{
                    width: 100%;
                  }
                  [data-section-id="{{ section.id }}"] .block-{{ block.type }}-wrapper.position-{{ forloop.index }}.image-position-left .content,
                  [data-section-id="{{ section.id }}"] .block-{{ block.type }}-wrapper.position-{{ forloop.index }}.image-position-right .content{
                    width: calc(100% - {{ block.settings.image_width }});
                  }
                {% endif %}
                [data-section-id="{{ section.id }}"] .position-{{ forloop.index }}{
                  {% if block.settings.margin_top > 0 %}
                    margin-top: {{ block.settings.margin_top }}px;
                  {% endif %}
                  {% if block.settings.margin_bottom > 0 %}
                    margin-bottom: {{ block.settings.margin_bottom }}px;
                  {% endif %}
                }
                @media (max-width: 767px) {
                  [data-section-id="{{ section.id }}"] .position-{{ forloop.index }}{
                    {% if block.settings.margin_top > 20 %}
                      margin-top: 20px;
                    {% endif %}
                    {% if block.settings.margin_bottom > 20 %}
                      margin-bottom: 20px;
                    {% endif %}
                  }
                }
              </style>
            {% when 'text' %}
              <div class="col-md-{{ block.settings.columns }}" {{ block.shopify_attributes }}>
                <div class="block-{{ block.type }}-wrapper align-{{ block.settings.alignment }} position-{{ forloop.index }}">
                  {% if block.settings.content != blank %}
                    <div class="content">
                      {{ block.settings.content }}
                    </div>
                  {% endif %}
                </div>
              </div>
              <style>
                [data-section-id="{{ section.id }}"] .position-{{ forloop.index }}{
                  {% if block.settings.margin_top > 0 %}
                    margin-top: {{ block.settings.margin_top }}px;
                  {% endif %}
                  {% if block.settings.margin_bottom > 0 %}
                    margin-bottom: {{ block.settings.margin_bottom }}px;
                  {% endif %}
                }
                @media (max-width: 767px) {
                  [data-section-id="{{ section.id }}"] .position-{{ forloop.index }}{
                    {% if block.settings.margin_top > 20 %}
                      margin-top: 20px;
                    {% endif %}
                    {% if block.settings.margin_bottom > 20 %}
                      margin-bottom: 20px;
                    {% endif %}
                  }
                }
              </style>
          {% endcase %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About us section",
    "settings": [
      {
        "type": "paragraph",
        "content": "This section contain settings for about us page only."
      },
      {
				"type": "header",
				"content": "Common settings"
			},
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Fullwidth",
        "default": true
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "checkbox",
        "id": "background_cover",
        "label": "Background cover",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "background_parallax",
        "label": "Background parallax",
        "default": false
      },
      {
        "type": "select",
        "id": "background_repeat",
        "label": "Background repeat",
        "default": "no-repeat",
        "options": [
          {
            "value": "no-repeat",
            "label": "No repeat"
          },
          {
            "value": "repeat",
            "label": "Repeat"
          },
          {
            "value": "repeat-x",
            "label": "Repeat-x"
          },
          {
            "value": "repeat-y",
            "label": "Repeat-y"
          }
        ]
      },
      {
        "type": "select",
        "id": "background_pos_x",
        "label": "Background position(x)",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "background_pos_y",
        "label": "Background position(y)",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
				"content": "Padding & Margin"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_left",
        "label": "Padding left",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_right",
        "label": "Padding right",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin top",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 30
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "text-column-with-image",
        "name": "Text column with image",
        "settings": [
          {
            "type": "header",
            "content": "Specific settings"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "default": "top",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "image_width",
            "label": "Image width (optional)",
            "info": "Eg: 50px, 30%"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "HTML content",
            "default": "<h4>Lorem ipsum</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Content alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Common settings"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 4,
            "min": 1,
            "max": 12
          },
          {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 30
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "header",
            "content": "Specific settings"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Common settings"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 12,
            "min": 1,
            "max": 12
          },
          {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 30
          }
        ]
      },
      {
        "type": "banner",
        "name": "Banner with text",
        "settings": [
          {
            "type": "header",
            "content": "Specific settings"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Action URL"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "<h2>Heading title</h2>\n<a href=\"#\">SHOP NOW</a>"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "link_color",
            "label": "Link color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "link_hover_color",
            "label": "Link hover color",
            "default": "#c61932"
          },
          {
            "type": "header",
            "content": "Content Layout"
          },
          {
            "type": "text",
            "id": "content_width",
            "label": "Width",
            "info": "Optional. Enter value of pixel, percentage. Eg: 400px, 50%."
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_position",
            "label": "Position",
            "default": "middle-center",
            "options": [
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-center",
                "label": "Top Center"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "value": "middle-left",
                "label": "Middle Left"
              },
              {
                "value": "middle-center",
                "label": "Middle Center"
              },
              {
                "value": "middle-right",
                "label": "Middle Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom Right"
              },
              {
                "value": "custom",
                "label": "Custom"
              }
            ]
          },
          {
            "type": "header",
            "content": "Only applicable on *Custom* position"
          },
          {
            "type": "select",
            "id": "content_position_custom_x_direction",
            "label": "Horizontal alignment direction",
            "default": "left-to-right",
            "options": [
              {
                "value": "left-to-right",
                "label": "Align from left"
              },
              {
                "value": "right-to-left",
                "label": "Align from right"
              }
            ]
          },
          {
            "type": "range",
            "id": "content_position_custom_x",
            "label": "Horizontal alignment",
            "default": 30,
            "min": 0,
            "max": 50,
            "unit": "%"
          },
          {
            "type": "select",
            "id": "content_position_custom_y_direction",
            "label": "Vertical alignment direction",
            "default": "top-to-bottom",
            "options": [
              {
                "value": "top-to-bottom",
                "label": "Align from top"
              },
              {
                "value": "bottom-to-top",
                "label": "Align from bottom"
              }
            ]
          },
          {
            "type": "range",
            "id": "content_position_custom_y",
            "label": "Vertical alignment",
            "default": 30,
            "min": 0,
            "max": 50,
            "unit": "%"
          },
          {
            "type": "header",
            "content": "Effect"
          },
          {
            "type": "select",
            "id": "hover_effect",
            "label": "Hover effect",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "No effect"
              },
              {
                "value": "zoom",
                "label": "Zoom"
              },
              {
                "value": "border-zoom",
                "label": "Border Zoom"
              },
              {
                "value": "flashed",
                "label": "Flashed"
              },
              {
                "value": "zoom-flashed",
                "label": "Zoom Flashed"
              },
              {
                "value": "shadow-corner",
                "label": "Shadow Corner"
              },
              {
                "value": "zoom-shadow",
                "label": "Zoom Shadow"
              },
              {
                "value": "cup-border",
                "label": "Cup Border"
              },
              {
                "value": "flashed-zoom",
                "label": "Flashed Zoom"
              },
              {
                "value": "zoom-out-shadow",
                "label": "Zoom Out Shadow"
              },
              {
                "value": "mist",
                "label": "Mist"
              },
              {
                "value": "mist-text",
                "label": "Mist Text"
              }
            ]
          },
          {
            "type": "header",
            "content": "Common settings"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "default": 12,
            "min": 1,
            "max": 12
          },
          {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 30
          }
        ]
      }
    ]
  }
{% endschema %}