{% include 'gp-section-style' %}
<div data-section-id="{{ section.id }}" data-section-type="instagram-section" style="{{ section_style }}" class="gp-section-wrapper {% unless section.settings.fullwidth %}not-fullwidth-section{% endunless %}">
  <div class="gp-instagram-feed gp-section-inner">
    <div class="row">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'instagram' %}
              <div class="col-12" {{ block.shopify_attributes }}>
                <div class="instagram-slider {% if block.settings.show_dot %}show-dots{% endif %}">
                  <div class="owl-carousel instagram-feed-carousel" data-rotate="{{ block.settings.rotate_slide }}" data-show-nav="{{ block.settings.show_nav }}" data-show-dots="{{ block.settings.show_dot }}" data-items="{{ block.settings.item_per_slide }}" data-token="{% if block.settings.access_token != blank %}{{ block.settings.access_token }}{% endif %}">
                    {% if block.settings.access_token == blank %}
                      {% for i in (1..15) %}
                        <div>
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% else %}
              {% include 'gp-block-heading' %}
          {% endcase %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "GPS Instagram feed",
    "class": "index-section",
    "settings": [
      {
				"type": "header",
				"content": "Common settings"
			},
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Fullwidth",
        "default": true
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "checkbox",
        "id": "background_cover",
        "label": "Background cover",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "background_parallax",
        "label": "Background parallax",
        "default": false
      },
      {
        "type": "select",
        "id": "background_repeat",
        "label": "Background repeat",
        "default": "no-repeat",
        "options": [
          {
            "value": "no-repeat",
            "label": "No repeat"
          },
          {
            "value": "repeat",
            "label": "Repeat"
          },
          {
            "value": "repeat-x",
            "label": "Repeat-x"
          },
          {
            "value": "repeat-y",
            "label": "Repeat-y"
          }
        ]
      },
      {
        "type": "select",
        "id": "background_pos_x",
        "label": "Background position(x)",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "background_pos_y",
        "label": "Background position(y)",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
				"content": "Padding & Margin"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 50
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 50
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin top",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 90
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 90
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading content",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "<h2>Follow Us On Instagram</h2>\n<p><a href='#' target='_blank'>@amely.shopify</a></p>"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "link_color",
            "label": "Link color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "link_hover_color",
            "label": "Link hover color",
            "default": "#c61932"
          },
          {
            "type": "header",
            "content": "Margin"
          },
          {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 30
          }
        ]
      },
      {
        "type": "instagram",
        "name": "Instagram slider",
        "settings": [
          {
            "type": "text",
            "id": "access_token",
            "label": "Access token"
          },
          {
            "type": "checkbox",
            "id": "show_nav",
            "label": "Show navigation",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_dot",
            "label": "Show dots",
            "default": true
          },
          {
            "type": "range",
            "id": "rotate_slide",
            "label": "Auto rotate slide",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "sec",
            "default": 5,
            "info": "Choose 0 to disable auto rotate"
          },
          {
            "type": "range",
            "id": "item_per_slide",
            "label": "Number of item per slide",
            "default": 5,
            "min": 1,
            "max": 10,
            "step": 1
          }
        ]
      }
    ],
    "presets": [{
      "name": "GPS Instagram Feed",
      "category": "Image",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "instagram"
        }
      ]
    }]
  }
{% endschema %}
