{% include 'gp-section-style' %}
<div data-section-id="{{ section.id }}" data-section-type="gp-testimonial-section" class="gp-section-wrapper {% unless section.settings.fullwidth %}not-fullwidth-section{% endunless %}">
  <div class="gp-testimonials gp-section-inner">
    <div class="row">
      {% if section.blocks.size > 0 %}
        <div class="col-12">
          <div class="testimonial-slider">
            {% for block in section.blocks %}
              <div class="testimonial-item">
                {% if block.settings.heading_content != blank %}
                  <div class="title">{{ block.settings.heading_content }}</div>
                {% endif %}
                {% if block.settings.content != blank %}
                  <div class="content">{{ block.settings.content }}</div>
                {% endif %}
                {% if block.settings.image != blank %}
                  <div class="avatar margin-top30"><img src="{{ block.settings.image | img_url: 'master' }}" alt="" /></div>
                {% endif %}
                {% if block.settings.name != blank %}
                  <div class="information margin-top30">
                    <div class="name">{{ block.settings.name }}</div>
                    {% if block.settings.job != blank %}
                      <div class="job">{{ block.settings.job }}</div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>  
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "GPS Testimonial",
    "class": "index-section",
    "settings": [
      {
				"type": "header",
				"content": "Common settings"
			},
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Fullwidth",
        "default": true
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#F8F8F8"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "checkbox",
        "id": "background_cover",
        "label": "Background cover",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "background_parallax",
        "label": "Background parallax",
        "default": false
      },
      {
        "type": "select",
        "id": "background_repeat",
        "label": "Background repeat",
        "default": "no-repeat",
        "options": [
          {
            "value": "no-repeat",
            "label": "No repeat"
          },
          {
            "value": "repeat",
            "label": "Repeat"
          },
          {
            "value": "repeat-x",
            "label": "Repeat-x"
          },
          {
            "value": "repeat-y",
            "label": "Repeat-y"
          }
        ]
      },
      {
        "type": "select",
        "id": "background_pos_x",
        "label": "Background position(x)",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "background_pos_y",
        "label": "Background position(y)",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
				"content": "Padding & Margin"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_left",
        "label": "Padding left",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_right",
        "label": "Padding right",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin top",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 90
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 90
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "textarea",
            "id": "heading_content",
            "label": "Title",
            "default": "<h2>Testimonials</h2>"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Avatar"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Author's name",
            "default": "Be Steven"
          },
          {
            "type": "text",
            "id": "job",
            "label": "Author's job",
            "default": "CEO"
          }
        ]
      }
    ],
    "presets": [{
      "name": "GPS Testimonial",
      "category": "Text",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }]
  }
{% endschema %}
